* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Poppins", sans-serif;
}

/* Animation */
@keyframes blink {
  0%,
  5%,
  10%,
  15% {
    opacity: 1;
  }
  2.5%,
  7.5%,
  12.5% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blinking-image {
  animation: blink 2.6s ease-in-out infinite;
}

a {
  text-decoration: none;
}

/* Background */
.main .background {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.main .background img {
  width: 100%;
  height: 100%;
}

/* Header */

.header .nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 0;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  transition: height 0.5s ease-in-out;
}

.header .nav.active {
  display: flex; /* Hiển thị menu khi class 'active' được thêm vào */
}

.header .nav.active {
  height: 100%; /* Chiều cao của menu khi kích hoạt */
}

.header .nav ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.header .nav ul li {
  opacity: 0;
  transform: translateY(
    -20px
  ); /* Đẩy các mục lên trên để tạo hiệu ứng trượt xuống */
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.header .nav.active ul li.show {
  opacity: 1;
  transform: translateY(0); /* Trả về vị trí ban đầu */
}

.header .nav a {
  font-family: "Lilita One", sans-serif;
  font-size: 30px;
  padding: 8px 21px;
  color: black;
}

/* Hero */
.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.hero img {
  display: block;
  width: 335px;
  margin: 0 auto;
}

.hero img.hidden {
  display: none;
}

/* /////////////// Artists //////////////////// */

/* CSS */
.transition-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1000; /* Đặt video lên trên cùng */
  display: none; /* Ẩn video khi chưa cần thiết */
}
